body{
    background-color: #091E25;
}

.cobookig {
    top: 35%;
    position: absolute;
    font-size: 150px;
    background: 0;
    opacity: 10%;
    left: 0px;
    color: #FFFFFF;
    -webkit-text-stroke: 3px #1d3357;
  }

.compo{
    display: flex;
    justify-content: center;
}

.booking img {
    margin-right: 0px !important;
    
}

.footer{
    /* position: absolute; */
    height: 500px;
    top: 2000px !important;
    left: 30%;
}