body {
    color: #fff;
}

input {
    background-color: transparent !important;
}

button {
    background-color: transparent !important;
    color: #fff;
    border-color: #fff;
}

.information-info {
    background-color: #102833;
}

.summary {
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
}