body {
    color: #fff;
    font-family: "Shippori Mincho", serif;
    
}

.information-info-heading {
    font-size: x-large;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.information-info {
    margin-top: 2rem;
    background-color: #102833;
    padding: 30px;
}

.information-info button {
    background-color: transparent !important;
    color: #fff;
    border-color: #fff;
}

.information-info input{
    background-color: transparent !important;
    color: #fff !important;
    border-color: #fff;
    height: 35px;
    width: 260px;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.information-info input[type='name']{
    width:575px;
}

.summary {
    margin: 2rem;
    margin-left: 2.5rem;
    justify-content: center;
    border-style: solid;
    border-radius: 25px;
    padding: 35px;
    font-size: xx-large;
}
.summary span{
    line-height: 30px;
}

.submit-btn{
    width: 342px;
    height: 120px;
    font-size: 24px;
    background-color: transparent !important;
    border-color: #fff;
}

.payment{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 560px;
    height:125px;
    border-color: #fff;
    border-radius: 10px;
    border: 1px solid;
}

.price{
    font-size: 32px;
}