* {
    color: #fff;
    font-family: "Shippori Mincho", serif;
    font-size: large;
}

.func-title {
    font-size: large;
}

.func-title img {
    height: 80px;
    width: auto;
}

.onsen input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-block;
    width: 100px;
    height: 125px;
    padding: 6px;
    
    background-clip: content-box;
    border: 1.5px solid #bbbbbb;

    background-image: url('../assets/hotSpring.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;

    margin-left: 35px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.onsen input[type=checkbox]:checked {
    background-image: url('../assets/select.svg');
}

.onsen input[type=checkbox]:disabled {
    background-image: url('../assets/disable.svg');
    opacity: 75%;
}

.massage input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 100px;
    height: 125px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1.5px solid #bbbbbb;

    background-image: url('../assets/massage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;

    margin-left: 35px;
    margin-bottom: 50px;
    margin-top: 25px;

}

.massage input[type=checkbox]:checked {
    background-image: url('../assets/select.svg');
}

.massage input[type=checkbox]:disabled {
    background-image: url('../assets/disable.svg');
    opacity: 75%;
}

.form-select {
    color: #fff;
    background-color: #102833;
    border-color: transparent;
    width: 1015px;
    height: 120px;
    border-radius: 25px;
    padding: 2rem;
}

.form-select select {
    margin-top: 1rem;
    color: #fff;
    width: 175px;
    height: 45px;
    border-radius: 10px;
    border-style: 1px solid #ccc;
    background: transparent;
    padding: 10px;
    background-color: #102833;
}

.form-select button {
    width: 175px;
    height: 118px;
    background-color: transparent;
    border-color:#fff ;
}

.form-select input[type="date"] {
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #ccc;
    width: 220px;
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-select label{
    font-size: large;
}

.summary {
    width: 342px;
    height: 410px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.summary button {
    height: 45px;
    width: 275px;
    background-color: transparent;
    border-color: #fff;
}

.summary div{
    line-height:30px;
}
.s-time {
    text-align: center;
    padding-top: 5px;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.title {
    font-size: large;
}