body {
    color: #fff;
    font-family: "Shippori Mincho", serif;
    font-size: large;
}

button {
    border: 1px solid;
}

label {
    font-size: large;
}

.func-title img {
    height: 80px;
    width: auto;
}


.onsen input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 100px;
    height: 125px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1.5px solid #bbbbbb;

    background-image: url('../assets/hotSpring.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;

    margin-left: 35px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.onsen input[type=checkbox]:checked {
    background-image: url('../assets/select.svg');
}

.onsen input[type=checkbox]:disabled {
    background-image: url('../assets/disable.svg');
    opacity: 75%;
}

.massage input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 100px;
    height: 125px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1.5px solid #bbbbbb;

    background-image: url('../assets/massage.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;

    margin-left: 35px;
    margin-bottom: 50px;
    margin-top: 25px;

}

.massage input[type=checkbox]:checked {
    background-image: url('../assets/select.svg');
}

.massage input[type=checkbox]:disabled {
    background-image: url('../assets/disable.svg');
    opacity: 75%;
}

.form-select {
    color: #fff;
    background-color: #102833;
    border-color: transparent;
    width: 1015px;
    height: 175px;
    border-radius: 25px;
    padding: 2rem;
}

.form-select select {
    color: #fff;
    width: 175px;
    height: 45px;
    border-radius: 10px;
    border-style: 1px solid #ccc;
    background: transparent;
    padding: 10px;
}


.form-select select {
    background-color: #102833;
}
.form-select button {
    width: 175px;
    height: 118px;
}

.form-select input[type="date"] {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
}

.summary {
    width: 342px;
    height: 410px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.summary button {
    height: 45px;
    width: 275px;
}

.summary span{
    font-weight: lighter;
}

.s-time {
    color: black;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}

.title {
    font-size: large;
}