body {
    color: #fff;
}

input{
    background-color: transparent !important;
    color: #fff !important;
}

button {
    background-color: transparent !important;
    color: #fff;
    border-color: #fff;
}

.information-info {
    margin-top: 2rem;
    background-color: #102833;
    padding: 30px;
}

.summary {
    margin: 2rem;
    justify-content: center;
    border-style: solid;
    border-radius: 25px;
    padding: 30px;
}

.submit-btn{
    margin: 2rem;
    height: 120px;
    font-size: 24px;
}