
.ppp {
  margin-top: 10%;
  background-color: #dfe4e9;
  padding-bottom: 20%;
}
.BodyandSoul {
  padding-top: 30%;
  margin-left: 10%;
  font-size: 40px;
}
.Relax {
  padding-top: 2%;
  font-size: medium;
  font-weight: lighter;
}
.img2 {
  position: absolute;
  bottom: -110%;
  right: 0px;
  width: 450px;
}

.f1 {
  background-color: #d3d9dd;
  height: 280px;

}
.book1 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #091e25;
}
.img1 {
  position: absolute;
  left: 54%;
  top: 80%;
  width: 450px;
}
.co1 {
  top: 185%;
  position: absolute;
  font-size: 150px;
  background: 0;
  opacity: 20%;
  left: 0px;
  color: transparent;
  -webkit-text-stroke: 3px #1d3357;
}
.co2{
  color: transparent;
  -webkit-text-stroke: 3px #a0afc6;
  background: 0;
  opacity: 20%;
  font-size: 150px;
  left: 0px;
  position: absolute;
  top: 350%;
}
.img3 {
  position:relative;
  width: 400px;
  position: absolute;
  left: 0;
  top: 50%;
}
.img4 {
  width: 90pc;
}
.map {
  background-color: #091e25;
  height: 500px;
  background-image: url(../assets/coo.png);
}
.map1 {
  background-image: url(../assets/coo.png);
  background-color: #091e25;
  height: 250px;
}
.pp2 {
  font-size: 26px;
  color: #ffffff;
  background-color: transparent;
  margin-left: 19%;
  margin-top: -30px;
}
.pp1 {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  margin-left: 19%;
  margin-top: 1%;
}
.pp3{
  color: #ffffff;
  background-color: transparent;
  margin-left: 17%;
  opacity: 50%;
  padding-top: 5%;
  font-size: 20px;
}
.pp4{
  color: #ffffff;
  background-color: transparent;
  margin-left: 16%;
  padding: 1%;
  font-size: 60px;
}
.map2{
  background-color: transparent;
  width:25%;
  height: 100px;
  color: #ffffff;
  text-align: center;
  margin-left: 60%;
  padding-top: 3%;
  
  border: 1.5px solid #bbbbbb;
  
}
.map3{
  background-image: url(../assets/coo.png);
  background-color: #091e25;
}
.map4{
  background-image: url(../assets/coo.png);
  background-color: #091e25;
}