.fac {
  position: fixed;
  width: 20px;
  padding-top: 2%;
 
}

.name1 {
    color: white;
  position: fixed;
  left: 3%;
  top: 2%;
  font-weight: bolder;
  font-size: 45px;
}
.name2 {
  color: white;
  position: fixed;
margin-top: -15%;
  font-weight: bold;
  padding-left: 95%;
  
  
}

